
.slide-in {
  opacity: 0;
  transition: all 0.7s;
}

.header-bright {
  background: $primary;
  color: $fontColorInverted;
}

.header-dark {
  background: $primaryDark;
  color: $fontColorInverted;
}

@media only screen and (min-width: 600px) {
  .align-left.slide-in {
    transform: translateX(-50%) scale(0.95);
  }

  .align-right.slide-in {
    transform: translateX(50%) scale(0.95);
  }
}

.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}


// a {
//   text-decoration: none;
//   &:visited {
//     color: inherit;
//     svg {
//       color: inherit;
//     }
//   }
// }