
$oldPaper: #f7f5e7;
$benBlue: #3381db;
$vsCodeDullBlue: #33343C; // lighten(#1c1d25, 9%);
$white: white;
$fontColor: $vsCodeDullBlue;
$fontColorInverted: $oldPaper;

$primary: #3381db;
$primaryDark: darken($primary, 15%);
$primaryDarkest: darken($primary, 25%);

$secondary: $oldPaper;
$secondaryLight: lighten($secondary, 3%);
$secondaryLightest: lighten($secondary, 20%);
$secondaryDark: darken($secondary, 8%);
$secondaryDarkest: darken($secondary, 16%);


$hFontColor: $vsCodeDullBlue;
$pFontColor: $vsCodeDullBlue;

// Screen sizes
$MAX_SECTION_SIZE: 1132px;
$MEDIUM_DISPLAY_SIZE: 900px;
$SMALL_DISPLAY_SIZE: 640px;
$TINY_DISPLAY_SIZE: 550px;
$PHONE_DISPLAY_SIZE: 400px;
// TODO: Try to remove this - its only used in the verticalTimeline
$TINY_PHONE_RARELY_USED_SIZE: 300px;