---
layout: base.njk
pagination:
  data: software.projects
  size: 1
  alias: project
permalink: "{{ project.url }}"
eleventyComputed:
  title: "{{ project.title }}"
  description: "{{ project.description }}"
---
{% from "chips.njk" import chips %}
<article>
  <h1>{{ project.title }}</h1>
  <p class="hero__lede">{{ project.description }}</p>
  <div class="project-meta">
    {{ chips(project.externalRepos) }}
    {{ chips(project.techUsed) }}
  </div>

  <div class="article-body">
    {{ project.body | safe }}
  </div>

  <p class="post-back"><a href="/software/">&larr; All projects</a></p>
</article>
